.section-one {
  background: linear-gradient(#4a9ad342, #ffffff);
  border-bottom: solid 5px rgba(255, 255, 255, 0.705);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.7%;
  @media (min-width: $middle) {
    padding: 5% 0 5% 0;
  }
  @media (min-width: $xxl) {
    max-width: 950px;
    margin: -3% auto;
  }
  &__logo {
    padding-left: 8%;
    font-size: 30px;
    color: #4a99d3;
    font-weight: 700;
    @media (min-width: $middle) {
      font-size: 40px;
    }
    @media (min-width: $large) {
      padding-left: 15%;
    }

    @media (min-width: $xxl) {
      padding: 0;
      font-size: 40px;
    }
  }
  &__nav {
    padding-right: 8%;
    font-size: 15px;
    font-weight: 400;
    @media (min-width: $large) {
      padding-right: 12%;
    }
    @media (min-width: $xxl) {
      padding: 0;
      max-width: 312px;
    }
  }

  &__nav-home,
  &__nav-about,
  &__nav-contact {
    color: #0f001a;
    padding: 0 0.3rem;
    @media (min-width: $middle) {
      font-size: 25px;
      padding: 0 16px;
    }
    @media (min-width: $xxl) {
      font-size: 18px;
      font-weight: 400;
    }
  }

  &__nav-home:hover,
  &__nav-about:hover,
  &__nav-contact:hover {
    text-decoration: none;
    cursor: pointer;
    color: #5da4d8;
  }
  &__nav-active {
    text-decoration: none;
    cursor: pointer;
    color: #5da4d8;
  }
}

.section-one__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
  margin: 0 5%;
  text-align: justify;
  @media (min-width: $large) {
    flex-direction: row;
  }
  @media (min-width: $xl) {
    flex-direction: row;
  }
  &-block {
    @media (min-width: $large) {
      padding: 7% 0 0 10%;
    }
    @media (min-width: $xl) {
      margin: 0 0 0 1%;
    }
    @media (min-width: $xxl) {
      margin-left: 13%;
      padding: 0;
    }
  }
  &-text {
    @media (min-width: $large) {
      max-width: 75%;
    }
  }

  &-text h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 2%;
    color: #260041;

    @media (min-width: $middle) {
      text-align: center;
      padding-bottom: 2%;
    }
    @media (min-width: $large) {
      text-align: justify;
      font-size: 40px;
      font-weight: 500;
      line-height: 45px;
    }
    @media (min-width: $xl) {
      line-height: 70px;
    }
    @media (min-width: $xxl) {
      padding-top: 12%;
      font-size: 50px;
    }
  }
  &-text p {
    font-size: 20px;
    line-height: 30px;
    padding-top: 4%;
    color: #260041;

    @media (min-width: $middle) {
      text-align: center;
    }
    @media (min-width: $large) {
      text-align: justify;
    }
    @media (min-width: $xxl) {
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
      padding-top: 0;
    }
  }
  &-buttons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-left: 10%;
    cursor: pointer;
    @media (min-width: $middle) {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 6%;
      margin-left: 0%;
    }
    @media (min-width: $large) {
      margin-left: -5%;
    }

    @media (min-width: $xxl) {
      margin-left: 3.5%;
      margin-top: 6%;
      max-width: 53%;
    }
  }
  &-buttons img {
    max-width: 80%;
    @media (min-width: $middle) {
      margin: auto;
      max-width: 100%;
    }
    @media (min-width: $large) {
      margin-left: -32%;
    }
  }

  &-mockup {
    @media (min-width: $large) {
      padding-right: 7%;
    }

    @media (min-width: $xxl) {
      margin-left: -6%;
    }
  }
  &-mockup img {
    margin-top: 4%;
    @media (min-width: $middle) {
      margin: auto;
    }
    @media (min-width: $large) {
      max-width: 170%;
      margin-right: 167px;
      margin-left: -30%;
    }
  }
}
